* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/Chirp-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/Chirp-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal 
    font-display: swap;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/Chirp-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal 
    font-display: swap;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/Chirp-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal 
    font-display: swap;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/Chirp-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal font-display: swap;
}



body {
    font-family: 'Chirp';
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.wrapper {
    display: flex;
}

.left-container {}

.img {
    width: 150px;
}

.right-container {
    justify-content: right;
}

.text-section {}

.sign-in-buttons {}

.google-btn {
    font-size: rem;
    margin: 10px;
    padding: 10px;
    border-style: none;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #eef1f4;
}

.google-btn:hover {
    background-color: #f1f5ff;
}

.apple-btn {
    margin: 10px;
    padding: 10px;
    border-style: none;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #eef1f4;
}

.apple-btn:hover {
    background-color: #e6e6e6;
}

.separator {
    display: flex;
    color: black;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

.separator::after,
.separator::before {
    content: "";
    flex: 1;
    border-bottom: 1px solid #eff3f4;
}

.separator:after {
    margin-left: 0.5em;
}

.separator::before {
    margin-right: 0.5em;
}

.create-account-btn {
    margin: 10px;
    padding: 10px;
    color: white;
    border-style: none;
    background-color: #1d9bf1;
    border-radius: 40px;
    border: 1px solid #eef1f4;
    align-items: center;
    font-weight: 550;
}

.create-account-btn:hover {
    background-color: #1c8cd8;
}

.terms-conditions {
    margin: 5px;
}

.existing-account {
    margin-top: 50px;
}

.sign-in {
    margin: 10px;
    padding: 10px;
    border-style: none;
    background-color: white;
    color: #1c8cd8;
    border-radius: 40px;
    border: 1px solid #eef1f4;
    font-weight: 550;
}

.site-footer {}

.footer-links {
    text-decoration: none;
    color: #546571;
}

a {
    text-decoration: none;
    color: #546571;
}

a:hover {
    text-decoration: underline;
}

.terms {
    text-decoration: none;
    color: #1c8cd8;
}